<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="poll.com.zjd">

    <!-- **********************************权限********************************** -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required -->
    <permission
        android:name="poll.com.zjd.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="poll.com.zjd.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />


    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--↓↓↓↓↓↓Glide图片模块↓↓↓↓↓↓-->
        <meta-data
            android:name="poll.com.zjd.manager.GlideConfiguration"
            android:value="GlideModule" />

        <!--↓↓↓↓↓↓友盟统计模块↓↓↓↓↓↓-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${JPUSH_CHANNEL}" />

        <!--↓↓↓↓↓↓极光推送模块↓↓↓↓↓↓-->

        <!-- 极光 用户自定义的广播接收器-->
        <receiver
            android:name=".broadcast.JpushBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="poll.com.zjd" />
            </intent-filter>
        </receiver>

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="poll.com.zjd" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="poll.com.zjd" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>
        <!-- since 3.0.9 Required SDK 核心功能-->
        <provider
            android:authorities="poll.com.zjd.DataProvider"
            android:name="cn.jpush.android.service.DataProvider"
            android:exported="true"
            />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="poll.com.zjd" />
            </intent-filter>

        </service>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="a52ed920a52e5a3bf368df7a" /> <!--  </>值来自开发者平台取得的AppKey-->

        <!-- 极光end -->
        <!--↓↓↓↓↓↓微博模块↓↓↓↓↓↓-->
        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="354925749" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />

        <!--↓↓↓↓↓↓百度定位模块↓↓↓↓↓↓-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2"></action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="tx3ihpLNThyrIpDW21Yf0ztb4NG4Khtl" />
        <!--↑↑↑↑↑百度定位模块↑↑↑↑↑-->

        <!-- 微信支付 -->
        <activity
            android:name="com.jpay.weixin.WXPayEntryActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.jpay.weixin.WXPayEntryActivity" />
        <!-- 微信支付 end -->


        <!-- alipay sdk begin -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- alipay sdk end -->

        <!--↓↓↓↓↓↓BUGLY自动更新↓↓↓↓↓↓-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--↑↑↑↑↑BUGLY自动更新↑↑↑↑↑-->

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BindPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity
            android:name=".wxapi.WBShareActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MyBalanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MySettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyBalanceHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AccountSafeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangePhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetPayPasswordVeryPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SetPayRealPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAddressEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAddressSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.KillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectorLocationActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.GoodsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderChooseAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderPayVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderChoosePayWayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChooseCouponsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderGoodsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommitOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderPayResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.RechargePayResultActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LogisticsWebActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>